html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#site {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #530f1b;
}

#steps {
  width: 70%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#step {
  margin-top: 10%;
  width: 100%;

  font-size: 2rem;
}

#description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#textarea {
  width: 100%;
  background-color: #000; 
  color: #ffaaaa;
  flex-grow: 1;
  font-size: 1rem;
  padding: 1rem;
  box-sizing: border-box;

}

#next-step {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#chat-area {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#display-name {
  margin-top: 10%;
}

#chat-input {
  margin-bottom: 10%;
}

#chat-output {
  display: flex;
  flex-direction: column;
}

.message.me {
  align-self: flex-end;
}

.message.me > .data {
  justify-content: flex-end;
}

.message {
  display: grid;
  width: 90%;
  grid-template-columns: auto;
  grid-template-rows: auto 1em;
  grid-template-areas: 
    "msg"
    "dat";
}

.message > .text {
  grid-area: msg;
  padding: 0.5em;
  border-radius: 4px;
}

.message.them > .text {
    background-color: rgba(255, 255, 255, 0.2);
}

.message.me > .text {
    background-color: rgba(0,0,0,0.2);
}

.message > .data {
  grid-area: dat;

  display: flex;
  align-items: center;
  font-size: 0.75em;
  color: #999999;
}

.message > .data > .dn {
  margin-left: 1em;
  margin-right: 0.5em;
}

.message.me > .data > .time {
  margin-right: 1em;
}

.message > .data > .time {
}

.message > .data > .time:before {
  content: '(';
}

.message > .data > .time:after {
  content: ')';
}
