<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <%= view_helper[:stylesheets] %>
    <link href='fleuve.js/fleuve.css' rel='stylesheet'>
    <script
      src='https://code.jquery.com/jquery-3.3.1.min.js'
      integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
      crossorigin='anonymous'></script>
    <link href='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/solarized-dark.min.css' rel='stylesheet'>
    <script src='https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js'></script>
    <script src='fleuve.js/fleuve.js' type='text/javascript'></script>
    <script src='json-url/json-url.js' type='text/javascript'></script>
    <%= view_helper[:javascripts] %>
    <title>BratChat</title>
  </head>

  <body>
    <div id='site'>
      <div id='steps'>
        <div id='step'>Step 1: Send this url to someone</div>
        <div id='description'>
          Send this link to the person with whom you would like to chat. 
          When they click on it, they will be directed to a page with 
          their own instructions to follow. Once you're sure they have 
          the link, hit next.
        </div>
        <textarea id='textarea'></textarea>
        <button id='next-step'>Next step</button>
      </div>
    </div>
  </body>
</html>
