<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <link href='style.css' rel='stylesheet'>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src='main.js' type='text/javascript'></script>
    <title>BratChat</title>
  </head>

  <body>
    <div id='site'>
      <div id='chat-area'>
        <div class='headline'>easy, direct chat</div>
        <div class='bullets'>
          <div> - our server connects you, then gets out of the way</div>
          <div> - chat directly, without third parties or middlemen</div>
          <div> - share large files without any fuss (coming soon)</div>
          <div> - it's as easy as sharing a link!</div>
        </div>
      </div>
      <div id='buttons'>
        <div id='chat-button'>
          <button class='hovershadow'>chat</button>
        </div>
        <div id='brat-button'>
          <button class='hovershadow'>brat</button>
        </div>
      </div>
      <div id='brat-area'>
        <div class='headline'>be a brat</div>
        <div class='bullets'>
          <div> - connect without our servers</div>
          <div> - streamlined setup by copy / pasting blobs of text</div>
          <div> - all the same features as easy chat</div>
          <div> - extra negotiation steps for extra fun!</div>
        </div>
      </div>

    </div>
  </body>
</html>
