html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

button:active, button:focus {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
}

#site {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #530f1b 50%, #e4fbfe 50%);

  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-template-rows: 4fr 2fr 4fr;
  grid-template-areas:
    "ca ca .."
    ".. bt .."
    ".. ba ba";
}

@media only screen and (max-width: 960px) {
  #site {
    background: none;
    background-color: #e4fbfe;
    grid-template-columns: 1fr;
    grid-template-rows: 4 fr 2 fr 4 fr;
    grid-template-areas:
    "ca"
    "bt"
    "ba";
  }
  #brat-area {
    background-color: #530f1b;
  }
}

#chat-area {
  grid-area: ca;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing: border-box;
  color: #0af;
}

#brat-area {
  grid-area: ba;
  padding-left: 5%;
  padding-top: 6%;
  color: #fff;
  box-sizing: border-box;
}

.bullets {
  font-size: 1.5rem;
  padding-top: 2%;
  padding-left: 3%;
  line-height: 2rem;
}

#buttons {
  grid-area: bt;
}

.headline {
  font-size: 3rem;
}

#chat-button {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#chat-button button {
  width: 100%;
  font-size: 3em;
  color: #00aaff;
  background-color: #e4fbfe;
  /*border: 1px solid #00aaff;*/
  border: 0px;
}

#chat-button button:active {
  border: 2px solid #00aaff;
}

#brat-button {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  flex-grow: 1;

  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#brat-button button {
  width: 100%;
  font-size: 3em;
  color: #fff;
  background-color: #530f1b;
  /*border: 1px solid #000;*/
  border: 0px;

}

#brat-button button:active {
  border: 2px solid #fff;
}

.hovershadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hovershadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
